## Tuple

In [1]:
t = ()
print(type(t))

<class 'tuple'>

In [2]:
l = []
print(type(l))

<class 'list'>

In [3]:
#list is mutable but a tuple is immutable

In [4]:
t = (1,2,3)

In [5]:
type(t)

tuple

In [6]:
t =1,2,3
print(t)

(1, 2, 3)

In [7]:
t = 1,2,'hi',3

In [8]:
print(t)

(1, 2, 'hi', 3)

In [10]:
t = 1
print(type(t))

<class 'int'>

In [11]:
t = 1,
print(type(t))

<class 'tuple'>

In [12]:
t = 'python'
print(type(t))

<class 'str'>

In [13]:
t = 'python',
print(type(t))

<class 'tuple'>

In [14]:
# accessing with index
t = (1,2,3)
t[-1]

3

In [16]:
# tuples are immutable

t = (1,2,3,4,5,[6,7,8,9])

In [17]:
t[2] = 'hi'

TypeError: 'tuple' object does not support item assignment

In [18]:
t[5][0] = 'hi'

In [19]:
print(t)

(1, 2, 3, 4, 5, ['hi', 7, 8, 9])

In [20]:
dir(tuple)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [21]:
l = [0,2,4]
t = tuple(l)

In [22]:
type(t)

tuple

In [23]:
t

(0, 2, 4)

In [24]:
a = 'Python'
t = tuple(a)

In [25]:
print(t)

('P', 'y', 't', 'h', 'o', 'n')

In [28]:
t = (1,2,3,4,5,6,7,8,1,2,3,1)

In [29]:
print(t.count(1))
print(t.index(3))

3
2

In [30]:
# length
# min
# max
# sum

## Sets

In [31]:
s = set()

In [32]:
type(s)

set

In [33]:
s = set([1,2,3,4])

In [34]:
print(s)

{1, 2, 3, 4}

In [35]:
s = {}
type(s)

dict

In [37]:
# no duplicates

s= {1,2,3,4,5,4,3,6,7}
print(s)
# all the elements will be in ascending order

{1, 2, 3, 4, 5, 6, 7}

In [38]:
s = {9,8,7,1,2,3,4,5,5,3,5}
s[0]

TypeError: 'set' object is not subscriptable

In [41]:
s = {9,8,7,1,2,3,4,5,6,7}
print(s)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [42]:
s.add(10)

In [43]:
s

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [44]:
s.update([11,12,13])

In [45]:
s

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13}

In [46]:
s.remove(5)

In [47]:
s

{1, 2, 3, 4, 6, 7, 8, 9, 10, 11, 12, 13}

In [48]:
s.remove(14)

KeyError: 14

In [49]:
s = {9,8,7,1,2,3}
print(s)

{1, 2, 3, 7, 8, 9}

In [50]:
c = s.pop()

In [51]:
c

1

In [52]:
s

{2, 3, 7, 8, 9}

In [54]:
set1 = {1,2,3}
set2 = {4,5,6}

In [55]:
#union
print(set1.union(set2))
print(set1 | set2)

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}

In [59]:
set1 = {1,2,3}
set2 = {3,4,5,6}

In [60]:
# intersection
print(set1.intersection(set2))
print(set1 & set2)

{3}
{3}

In [61]:
# difference
print(set1 - set2)
print(set1.difference(set2))

{1, 2}
{1, 2}

In [62]:
# difference
print(set2 - set1)
print(set2.difference(set1))

{4, 5, 6}
{4, 5, 6}

In [63]:
# symmetric difference
print(set2 ^ set1)
print(set2.symmetric_difference(set1))

{1, 2, 4, 5, 6}
{1, 2, 4, 5, 6}